* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin-right: 0;
}

body {
  background-color: var(#3f3f3f);
}

.noticias {
  text-align: center;
  background: #F7C325;
  color: #202324;
  font-weight: 600;
}

h1 {
  font-family: "Source Sans 3", serif;
}

/* Inicio de header*/
header {
  background-color: #202324;
  color: whitesmoke;
}
header .navbar button {
  backface-visibility: visible;
  background-color: #69c2f0;
}
header .navbar .container-fluid {
  display: inline-block;
}
header .navbar .cuenta a img {
  max-width: 25px;
  margin-left: 20px;
}

.nav-item .nav-link {
  color: whitesmoke;
  transition: color 0.25s;
}
.nav-item .nav-link:hover {
  color: #69c2f0;
}

.carousel img {
  display: block;
  width: 100%;
}

/* Inicio de Home*/
main {
  background-color: #3f3f3f;
  padding: 2%;
  padding-right: 1em;
}
main img {
  flex-direction: row;
  max-width: 40%;
}
main h1 {
  color: whitesmoke;
  text-align: center;
  padding: 1rem;
  font-size: 300;
}
main h2 {
  height: 75px;
  text-align: center;
  font-size: medium;
  font-weight: 100;
  padding-bottom: 20%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
main p {
  text-align: center;
  font-weight: 600;
  color: #202324;
  background-color: #d2e4e1;
  display: inline inline-block;
  border-radius: 5rem;
  margin-top: 2em;
}
main .card-body {
  background-color: #202324;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  height: 150px;
  width: 170px;
}
main .card-body .precio {
  display: grid;
  grid-template-columns: auto max-content;
}
main .row .card {
  flex-direction: row;
  height: 150px;
}
main .row .col-novedades {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 20px;
}
main .row .col-descuento {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 20px;
}
main .row .col-descuentos {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 20px;
}

/*Fin de Home*/
/*Inicio de footer*/
footer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding-top: 5px;
  padding-bottom: 20px;
  text-align: center;
  background-color: #69c2f0;
}
footer p {
  margin-bottom: 0;
}
footer p a {
  text-decoration: none;
  list-style: none;
  color: #202324;
  font-weight: bold;
}
footer img {
  max-width: 45px;
}
footer .rrss {
  display: flex;
  justify-content: center;
  gap: 20px;
}

/* Fin de footer */
/* CATALOGO MOBILE */
main .col-productos .card {
  margin-bottom: 15px;
}

/* FIN DE CATALOGO MOBILE */
/* ESTILOS DE TABLET */
@media screen and (min-width: 600px) {
  header .navbar .container-fluid {
    display: flex;
  }
  header .navbar button {
    margin-left: 3%;
  }
  header .navbar-nav {
    flex-direction: row;
    gap: 5em;
    text-align: center;
    justify-content: center;
  }
  header nav .cuenta a img {
    max-width: 50px;
    max-width: 50px;
    margin-left: 20px;
  }
  /* Fin de header*/
  /* Inicio de Home */
  main .row .col-novedades {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1em;
  }
  main .row .col-descuento {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1em;
  }
  main .row .col-descuentos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1em;
  }
  main .row .card img {
    width: auto;
    height: auto;
  }
}
@media screen and (min-width: 1024px) {
  #navbarNav {
    display: flex;
    justify-content: center;
  }
  header nav button {
    display: none;
  }
  /* Inicio de Carrusel */
  .carousel {
    padding-top: 20px;
    background-color: #3f3f3f;
    display: flex;
    justify-content: center;
  }
  .carousel #carouselExampleIndicators .carousel-inner img {
    object-fit: fill;
    border-radius: 40px;
  }
  .carousel img {
    width: initial;
  }
  /* Fin de carrusel */
  /* Inicio de Home */
  main .card-body {
    width: 100%;
    height: 150px;
  }
  main h2 {
    padding-bottom: 25%;
    max-height: 78px;
    text-overflow: initial;
    white-space: initial;
  }
  main .row .card {
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
  }
  main .row .card img {
    margin: 13px;
  }
  main .row .card:hover {
    border-color: #69c2f0;
    border-width: 4px;
  }
  main .row .col-novedades {
    justify-content: center;
    grid-template-columns: repeat(4, 200px);
    grid-template-rows: repeat(1, 280px);
    gap: 7.5em;
  }
  main .row .col-descuento {
    justify-content: center;
    grid-template-columns: repeat(4, 200px);
    grid-template-rows: repeat(1, 200px);
    gap: 7.5em;
  }
  main p {
    margin-top: 1em;
  }
  /* Fin de Home */
}
/* FIN DE DESKTOP */
/* CATALOGO PARA DISPOSITIVOS TABLETS */
@media screen and (min-width: 600px) {
  main h2 {
    font-size: larger;
  }
  main .row .col-productos {
    display: grid;
    grid-template-columns: repeat(2, 3fr);
    grid-template-rows: repeat(1, 175px);
    gap: 2em;
  }
}
/* FIN DE CATALOGO PARA DISPOSITIVOS TABLETS */
/*  CATALOGO DE EQUIPOS DE ESCRITORIO */
@media screen and (min-width: 1024px) {
  main .row .col-productos {
    justify-content: center;
    grid-template-columns: repeat(4, 200px);
    grid-template-rows: repeat(1, 200px);
    gap: 7.5em;
  }
  main .row .col-descuentos {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(6, 200px);
    grid-template-rows: repeat(1, 120px);
    gap: 6em;
    padding-bottom: 14em;
  }
}

/*# sourceMappingURL=styles.css.map */
